.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to left,
      rgba($primary-color-dark, 0.8),
      rgba($secondary-color-dark, 0.8)
    ),
    url('../img/nat-4.jpg');
  background-size: cover;

  transform: skewY(5deg) translateY(-9.5rem);

  & > * {
    transform: skewY(-5deg);
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 20rem 0 15rem 0;
  margin-top: -16.5rem;
}

.section-stories {
  padding: 15rem 0;
  background-color: $color-grey-light-1;
}
